@media(min-width:992px)
	[type=text],
	[type=tel],
	[type=email],
	[type=url],
	[type=password],
	textarea
		&:hover
			border-color: #CDCDCD
		&:focus
			border-color: $orange
	.custom-radio
		&:hover &__caption
			color: inherit
	.btn
		transition: all .15s ease
		&:hover
			background-color: #D76615
			border-color: #D76615
			box-shadow: 0 1px 0 #AB571B
			transform: translateY(2px)
		&--text-color:hover
			transform: none
			background-color: #fff
			color: $orange
			border-color: #fff
			box-shadow: none
		&--thin:hover
			background: none
			box-shadow: none
			transform: none
			border-color: $orange
			background-color: $orange
			color: #fff
			text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2)
	.header
		&__menu
			>li
				>a
					transition: all .3s ease
				&:hover>a
					color: #EC963C
	.page-menu
		>li
			&:hover
				color: $orange
				&:after
					background-color: $orange
	.section-link
		&:hover
			text-decoration: underline
	.info-block
		&__item
			transition: all .3s ease
			&:hover
				background-color: rgba(255,255,255,.05)
				border-color: $orange
		&__item:hover &__link
			text-decoration: underline
	.events
		&__pic
			img
				transition: all .3s ease
		&__main
			transition: all .3s ease
			&:hover
				color: $orange
		&__main:hover &__pic img
			opacity: .74
		&__list
			a
				transition: all .3s ease
				&:hover
					color: $orange
	.post-card
		transition: all .3s ease
		&:hover
			color: $orange
		&__pic
			img
				transition: all .3s ease
		&:hover &__pic img
			opacity: .74
	.person-card
		&__link
			transition: all .3s ease
			&:hover
				color: $orange
	.services-block
		&__arrow
			transition: all .3s ease
			&:hover
				background-color: $orange
				border-color: $orange
				color: #fff
	.review__pic
		transition: all .3s ease
		&:hover
			transform: translateY(4px)
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)
	.reviews
		&__arrow
			opacity: 0
			transition: all .3s ease
		&__slider:hover &__arrow
			opacity: 1
	.soc-link
		transition: all .3s ease
		&:hover
			background-color: $orange
			border-color: $orange
			color: #fff
	.footer
		&__nav
			>li>a
				transition: all .3s ease
				&:hover
					color: $orange
@media(max-width:1199px)
	.wrapper
		max-width: 992px
  
@media(max-width:991px)
	

//@media(max-width:767px)
	

//@media(max-width:480px)
	
